<h3>reactivemodel works!</h3>
<form [formGroup] = "formModel" (ngSubmit)="sendData()">
    <div formGroupName = "fullName">
        <div>
            <label for="firstname" > firstname </label>
            <input type="text" formControlName = 'firstName' >
        </div>
        <p> Dirty : state {{formModel.controls.firstName?.dirty}}</p>
        <p> Pristine : state {{formModel.controls.firstName?.pristine}}</p>
        <p> Valid : state {{formModel.controls.firstName?.valid}}</p>
        <p> Invalid : state {{formModel.controls.firstName?.invalid}}</p>
        <p> Touched : state {{formModel.controls.firstName?.touched}}</p>
        <p> untouched: state {{formModel.controls.firstName?.untouched}}</p>

        <div><label for="lastname"> lastname </label><input type="text"></div>
    </div>
    <div formGroupName = "crossFieldValidation" >
        <p>Validate using</p>
        <label for="emailv" > email </label>
        <input type="radio" #chooseEmail value="email" formControlName = 'fieldValidate' (change) = "updateFieldValidation(chooseEmail.value)" >
        <label for="phonev" > Phone  </label>
        <input 
            #choosePhone
            type="radio" 
            value= "phone" 
            formControlName = 'fieldValidate' 
            (change) = "updateFieldValidation(choosePhone.value)"
        >
    </div>
    <div>
        <label for="email" > email </label>
        <input type="email" formControlName = 'email' >
        <div *ngIf = "formModel.controls.email.invalid">
            Enter a valid email address
        </div>
    </div>
    <div>
        <label for="phone" > Phone </label>
        <input type="text" formControlName = 'phone' >
        <div *ngIf = "formModel.controls.phone.invalid">
            Enter phone number 
        </div>
    </div>
    <div>
        <label for="range" > Range </label>
        <input type="number" id="range" name="points" min="0" max="5" formControlName = "range">
        <div *ngIf = "formModel.get('range').errors?.range">
            Rate us on a scale of 1 to 5 
        </div>
    </div>

    
    
    <button [disabled] = "formModel.invalid" > submit</button>

</form>